{% block footer %}

<footer class="page-footer grey darken-4" id="footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Contact</h5>
                <a class="grey-text text-lighten-4" href="#footer">contact@anishb.net</a>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/AB0529" target="_blank">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © {{ current_year }} All Rights Reserved
        </div>
    </div>
</footer>

{% endblock %}
