{% extends "base.html" %} {% block content %} {% if user.is_authenticated %}
<div class="pics-section">
    <a class="waves-effect waves-light white-text green btn right" href="{% url 'logout' %}"><i
			class="material-icons left">exit_to_app</i><strong>Logout</strong></a>
    <div class="center-align" style="padding: 1vh;">
        <h3> <strong> Screenshots </strong> </h3>
        <h1 class="pics-border"></h1>
        <!-- Cards Grid -->
        <div class="container">
            <div class="row" id="screenshots">
                {% for ss in screenshots %}
                <form action="">
                    <div class="col s12 m6">
                        <span class="card-title" style="font-size: 3vh; color: rgb(14, 161, 75)"><strong>{{ ss.name }}</strong></span>
                        <div class="card small blue-grey darken-4">
                            <div class="card-image">
                                <img class="materialboxed" src="data:image/png;base64,{{ ss.img }}" />
                            </div>
                            <div class="card-content white-text">
                                <p style="font-size: 2vh;">{{ ss.date }}</p>
                            </div>
                            <div class="card-action">
                                <a onclick="delete_screenshot('{{ ss.name }}')" target="#" class="blue-grey darken-3 btn"> <strong>❌
										Delete</strong></a>
                            </div>
                        </div>
                    </div>
                </form>
                {% endfor %}
            </div>
        </div>

        <script>
            $(document).ready(function() {
                $('.materialboxed').materialbox();
            });

            function delete_screenshot(ss_name) {
                $.ajax({
                    url: "{% url 'delete_screenshot' %}?name=tmp_name".replace('tmp_name', ss_name),
                    method: 'GET',
                    success: () => {
                        location.reload()
                    }
                })
            }
        </script>
    </div>
</div>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a> {% endif %} {% endblock %}